<!-- head -->
{include file="./_layout/header" /} 
<body>
	<div id="wrapper">
		<!-- 左侧菜单 -->
		<nav class="navbar-default navbar-static-side" role="navigation">
			{include file="./_layout/sidebar" /}
    	</nav>
		
		<!-- 右侧 -->
		<div id="page-wrapper" class="gray-bg">
			<!-- 头部 -->
			<div class="row border-bottom">
				{include file="./_layout/top" /}
			</div>
			<!-- 面包屑导航 下次更新做-- >
			<!-- <div class="row wrapper border-bottom white-bg page-heading">
				
			</div> -->
			<!-- 内容 -->
			<div>
				
				{__CONTENT__}
			</div>
			
			<!-- 页脚 -->
			<div>
				{include file="./_layout/footer" /}
			</div>
		</div>
	</div>

	<!-- necessary ！！！-->
	<!--{js href="__LIB__/bootstrap3/js/bootstrap.min.js" /}-->
	<script src="__STATIC__/admin/lib/bootstrap3/js/bootstrap.min.js"></script>
	<!--{js href="__JS__/plugins/metisMenu/jquery.metisMenu.js" /}-->
	<script src="__STATIC__/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
	<!--{js href="__JS__/plugins/slimscroll/jquery.slimscroll.min.js" /}-->
	<script src="__STATIC__/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<!--{js href="__JS__/bootstrap-table.js" /}-->
	<script src="__STATIC__/admin/js/bootstrap-table.js"></script>
	<!--{js href="__JS__/main.js" /}-->
	<script src="__STATIC__/admin/js/main.js"></script>
	<!--{js href="__JS__/gridview.js" /}-->
	<script src="__STATIC__/admin/js/gridview.js"></script>
	{js href="__STATIC__/admin/js/<?php echo \think\Lang::detect();?>.js" /}

	<!-- custom and plugins -->
	{js href="__STATIC__/admin/js/plugins/pace/pace.min.js" /}
	
</body>
</html>