<!-- Data Tables -->

<!--添加-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加活动
                </h4>
            </div>
            <div class="modal-body">
                <form  id ='searchForm' class="bs-example bs-example-form" role = "form"
                       enctype="multipart/form-data" action="{:url('admin/activity/upload')}" method="post">
                    <div class = "input-group" >
                        <span  class="input-group-addon text-center">标题</span>
                        <input type = "text" name="title" class=" form-control" id="title" placeholder="标题">
                    </div>
                    <div class = "input-group">
                        <span class = "input-group-addon">子标题</span>
                        <input type = "text" class = "form-control"  placeholder="子标题" name="subtitle1"
                               id="title1">
                    </div>
                    <div class = "input-group">
                        <span class = "input-group-addon" >子标题</span>
                        <input type = "text" class = "form-control"  placeholder="子标题" name="subtitle2"
                               id="title2">
                    </div>
                    <div class = "input-group" >
                        <span class="input-group-addon text-center">价格</span>
                        <input type = "text"  class=" form-control" name="price"
                               id="price" placeholder="价格">
                    </div>
                    <div class = "input-group" >
                        <span class="input-group-addon text-center" >价格</span>
                        <input type = "text"  class=" form-control" name="price1"
                               id="price1" placeholder="价格">
                    </div>
                    <div class = "input-group" >
                        <span class="input-group-addon text-center">价格</span>
                        <input type = "text"  class=" form-control" name="price2"
                               id="price2" placeholder="价格">
                    </div>
                    <div class = "input-group" >

                        <span class="input-group-addon text-center">内容</span>
                        <input type = "text"  class=" form-control"
                               id="content" name="content" placeholder="内容">
                    </div>
                    <div class = "input-group" >

                        <span class="input-group-addon text-center">内容</span>
                        <input type = "text"  class=" form-control"
                               id="content1" name="content1" placeholder="内容">
                    </div>
                    <div class = "input-group" >
                        <span class="input-group-addon text-center">内容</span>
                        <input type = "text"  class=" form-control"
                               id="content2" name="content2"  placeholder="内容">
                    </div>
                    <span class="input-group-addon text-center">图片</span>
                    <input type="file" name="pic" id="pic" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple="multiple" />
                    <span class="input-group-addon text-center">详细图片</span>
                    <input type="file" name="detailpic" id="detailpic" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple="multiple" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="add()" >
                    添加
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--修改-->
<div class="modal fade" id="emyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="emyModalLabel">
                    修改活动
                </h4>
            </div>
            <div class="modal-body">
                <form  id ='editForm' class="bs-example bs-example-form" role = "form"
                       enctype="multipart/form-data" action="{:url('admin/activity/edit')}" method="post">
                    <div class = "input-group" >
                        <span  class="input-group-addon text-center">ID</span>
                        <input type = "text" name="id" class=" form-control" id="eid" placeholder="ID">
                    </div>
                    <div class = "input-group" >
                        <span  class="input-group-addon text-center">标题</span>
                        <input type = "text" name="title" class=" form-control" id="etitle" placeholder="标题">
                    </div>
                    <div class = "input-group">
                        <span class = "input-group-addon">子标题</span>
                        <input type = "text" class = "form-control"  placeholder="子标题" name="subtitle1"
                               id="etitle1">
                    </div>
                    <div class = "input-group">
                        <span class = "input-group-addon" >子标题</span>
                        <input type = "text" class = "form-control"  placeholder="子标题" name="subtitle2"
                               id="etitle2">
                    </div>
                    <div class = "input-group" >
                        <span class="input-group-addon text-center">价格</span>
                        <input type = "text"  class=" form-control" name="price"
                               id="eprice" placeholder="价格">
                    </div>
                    <div class = "input-group" >
                        <span class="input-group-addon text-center" >价格</span>
                        <input type = "text"  class=" form-control" name="price1"
                               id="eprice1" placeholder="价格">
                    </div>
                    <div class = "input-group" >
                        <span class="input-group-addon text-center">价格</span>
                        <input type = "text"  class=" form-control" name="price2"
                               id="eprice2" placeholder="价格">
                    </div>
                    <div class = "input-group" >

                        <span class="input-group-addon text-center">内容</span>
                        <input type = "text"  class=" form-control"
                               id="econtent" name="content" placeholder="内容">
                    </div>
                    <div class = "input-group" >

                        <span class="input-group-addon text-center">内容</span>
                        <input type = "text"  class=" form-control"
                               id="econtent1" name="content1" placeholder="内容">
                    </div>
                    <div class = "input-group" >
                        <span class="input-group-addon text-center">内容</span>
                        <input type = "text"  class=" form-control"
                               id="econtent2" name="content2"  placeholder="内容">
                    </div>
                    <span class="input-group-addon text-center">图片</span>
                    <input type="file" name="pic" id="epic" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple="multiple" />
                    <span class="input-group-addon text-center">详细图片</span>
                    <input type="file" name="detailpic" id="edetailpic" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple="multiple" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="add1()" >
                    保存
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" style="background: white;padding: 10px">
                <!-- 表单标题概要 -->
                <div class="ibox-title">
                    <h5>{:lang('Activity List')}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <!-- 表单内容 -->
                <div class="ibox-content">
                    <!-- 用户控件（操作） -->
                    <!--{toolbar id="toolbar"}
                    {/toolbar}-->
                    <div class="toolbar">
                        <div class="btn-group">
                            <button   class="btn btn-primary" data-toggle="modal"  data-target="#myModal" >
                                <i class="fa fa-plus" aria-hidden="true" style="margin-right: 2px"></i>
                                {$Think.lang.Add}
                            </button>

                        </div>
                    </div>
                    <!-- 表格数据 -->
                    <table id="table" data-toggle="gridview" class="table"
                           data-url="{:url('admin/activity/getList')}" data-toolbar="#toolbar"
                           data-show-columns="true" data-page-size="10" data-page-list="[10, 25, 50, All]"
                           data-unique-id="id" data-pagination="true" data-side-pagination="client"
                           data-search="true" data-click-to-select="false">
                        <thead>
                        <tr>
                            <th data-width="10" data-align="center" data-checkbox="true"></th>
                            <th data-width="10" data-field="id" >ID</th>
                            <th data-width="100" data-field="title" data-align="center">{:lang('Title')}</th>
                            <th data-width="80" data-field="subtitle1" >{:lang('SubTitle')}1</th>
                            <th data-width="80" data-field="subtitle2" >{:lang('SubTitle')}2</th>
                            <th data-width="20" data-field="price1" >{:lang('Price')}1</th>
                            <th data-width="20" data-field="price2" >{:lang('Price')}2</th>
                            <th data-width="20" data-field="price3" >{:lang('Price')}3</th>
                            <th data-width="100" data-field="content1" >{:lang('Content')}1</th>
                            <th data-width="100" data-field="content2" >{:lang('Content')}2</th>
                            <th data-width="100" data-field="content3" >{:lang('Content')}3</th>
                            <th data-width="50" data-field="time" >{:lang('Create Time')}</th>
                            <th data-width="80" data-field="operate"   data-align="center" data-formatter="operateFormatter" data-events="operateEvents">{:lang('Operate')}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script >
    function add() {
        /*var title = $('#title').val();
        var title1 = $('#title1').val();
        var title2 = $('#title2').val();
        var price = $('#price').val();
        var price1 = $('#price1').val();
        var price2 = $('#price2').val();
        var conten = $('#conten').val();
        var conten1 = $('#conten1').val();
        var conten2 = $('#conten2').val();*/
        $('#searchForm').submit();
        $('#title').val('');
        $('#title1').val('');
        $('#title2').val('');
        $('#price').val('');
        $('#price1').val('');
        $('#price2').val('');
        $('#content').val('');
        $('#content1').val('');
        $('#content2').val('');
       // alert(title);

        $('#myModal').modal('hide');
    }
    function add1() {
       /* $('#etitle').val('');
        $('#etitle1').val('');
        $('#etitle2').val('');
        $('#eprice').val('');
        $('#eprice1').val('');
        $('#eprice2').val('');
        $('#econtent').val('');
        $('#econtent1').val('');
        $('#econtent2').val('');*/
       $('#editForm').submit();
        $('#emyModal').modal('hide');
    }
    function operateFormatter(value, row, index) {
        return [
            '<a class="btn btn-xs edit" href="javascript:void(0)" title="{$Think.lang.Edit}">',
            '<i class="fa fa-edit"></i>',
            '</a>',
            '<a class="btn btn-xs delete" href="javascript:void(0)" title="{$Think.lang.Delete}">',
            '<i class="fa fa-trash"></i>',
            '</a>'
        ].join('');
    }

    var operateEvents = {
        'click .edit': function (e, value, row, index) {
            //alert(row.id);
            $('#eid').val(row.id);
            $('#etitle').val(row.title);
            $('#etitle1').val(row.subtitle1);
            $('#etitle2').val(row.subtitle2);
            $('#eprice').val(row.price1);
            $('#eprice1').val(row.price2);
            $('#eprice2').val(row.price3);
            $('#econtent').val(row.content1);
            $('#econtent1').val(row.content2);
            $('#econtent2').val(row.content3);
            $('#emyModal').modal('show');
        },
        'click .delete': function (e, value, row, index) {


            if ( confirm('确定删除选取内容？'))
            {
                $.ajax({
                    url:"{:url('admin/activity/delete')}",
                    data:{
                        'id':row.id,
                    },
                    type:"POST",
                    success:function(data){
                        $('#table').bootstrapTable('refresh')
                    },
                    error:function () {
                        alert("删除出错！");
                    }
                });
            }

        }
    };
</script>
